:root {
    --first_color: #1A1E27;
    --second_color: #01D8E6;
    --border_color:#1c1e23;
    --shadow_color:#bd33d8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}


body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(var(--first_color), var(--second_color));
    display: flex;
    align-items: center;

}

.main {
    width: 95%;
    height: 95vh;
    background-color: var(--first_color);
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--shadow_color);
    margin: 0 auto;
    border: 1px solid var(--border_color);
    padding: 20px 40px;
}
.main .nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.main .nav .logo{
    color: white;
    font-weight: 500;
    font-size: 18px;
}
.main .nav .logo span:hover{
   color: var(--second_color);
   cursor: pointer;
}
.main .nav .menu ul{
    list-style-type: none;
    display: flex;
    
}
.main .nav .menu ul li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    margin: 0px 8px;
    padding: 0px 8px;
    font-weight: normal;
}
.main .nav .menu ul li a:hover{

    border: 1px solid var(--border_color);;
    box-shadow: 0px 0px 5px var(--second_color);
    border-radius: 8px;
   
   
}


